<!-- Spinner: Shows when data is loading -->
<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner"></div> <!-- Spinner for loading -->
</div>

<!-- Character Cards: Only shows when data is loaded -->
<div *ngIf="!selectedCharacter && !isLoading">
  <div class="character-container">
    <div *ngFor="let character of peoples" class="character-card"  (click)="selectCharacter(character)">
      <h3 class="character-name">{{ character.name }}</h3>
      <div class="character-image">
        <img [src]="getCharacterImage(character)" alt="{{ character.name }}" />
      </div>
    </div>
  </div>
  
  <!-- Pagination Buttons -->
  <div class="pagination-buttons">
    <button class="previous" (click)="loadPreviousPage()" [disabled]="!ApiService.hasPreviousPage()">Previous</button>
    <button class="next" (click)="loadNextPage()" [disabled]="!ApiService.hasNextPage()">Next</button>
  </div>
</div>

<div *ngIf="selectedCharacter">
  <button class="back" (click)="deselectCharacter()">Back</button>
  <app-peopleDetails  [character]="selectedCharacter" [imageLink]="getCharacterImage(selectedCharacter)" ></app-peopleDetails>
</div>
