<!-- Spinner: Shows when data is loading -->
<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner"></div> <!-- Spinner for loading -->
</div>

<!-- Character Cards: Only shows when data is loaded -->
<div *ngIf="!isLoading && !selectedMovie">
  <div class="movie-container">
    <div class="movie-card" *ngFor="let movie of movies" (click)="selectMovie(movie)">
      <div class="movie-card-header">
        <img [src]="getMovieImage(movie)" alt="Movie Poster" class="movie-image" />
      </div>
      <div class="movie-card-body">
        <h2 class="movie-title">{{ movie.title }}</h2>
        <p class="movie-release-date">Release Date: {{ movie.release_date }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedMovie">
  <button class="back" (click)="deselectMovie()">Back</button>
  <app-movieDetails [movie]="selectedMovie" ></app-movieDetails>
</div>
